<div *ngIf="currentVehicle !== null">
  <div class="margins" *ngIf="editActive === false">
    <h1>Detalji o {{ currentVehicle.registration }}:</h1>
    <p>Broj sjedala: {{ currentVehicle.maxNoOfPassengers + 1 }}</p>
    <p>Mjenjač: {{ currentVehicle.gearbox }}</p>
    <p>Klima uređaj: {{ currentVehicle.airConditioning }}</p>
    <p>Broj vrata: {{ currentVehicle.noOfDoors }}</p>
    <p>Tip goriva: {{ currentVehicle.fuelType }}</p>
    <p>Registracije isteječe: {{ currentVehicle.regExpiry }}</p>

    <button (click)="back()">Back</button>
    <button (click)="editActiveChange()">Edit</button>
  </div>

  <div class="margins" *ngIf="editActive === true">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="maxNoOfPassangers">Max number of passangers: </label>
        <input
          id="maxNoOfPassangers"
          type="number"
          [(ngModel)]="newVehicle.maxNoOfPassengers"
          name="maxNoOfPassangers"
        />
        <br />

        <label for="gearbox">Gearbox: </label>
        <input
          id="gearbox"
          type="text"
          [(ngModel)]="newVehicle.gearbox"
          name="gearbox"
        />
        <br />

        <label for="airConditioning">Air conditioning: </label>
        <input
          id="airConditioning"
          type="text"
          [(ngModel)]="newVehicle.airConditioning"
          name="airConditioning"
        />
        <br />

        <label for="noOfDoors">Number of doors: </label>
        <input
          id="noOfDoors"
          type="number"
          [(ngModel)]="newVehicle.noOfDoors"
          name="noOfDoors"
        />
        <br />

        <label for="fuelType">Fuel type: </label>
        <input
          id="fuelType"
          type="text"
          [(ngModel)]="newVehicle.fuelType"
          name="fuelType"
        />
        <br />
        <button type="submit">Spremi promjene</button>
      </div>
    </form>
  </div>
</div>
